<!-- 
<ul *ngIf="dataLoaded == true" class="list-group">
  
  <li 
  (click)="setCurrentColor(color)"
    routerLink = "/cars/color/{{color.colorId}}"
    *ngFor="let color of colors"
    [class]="getCurrentColorClass(color)"
  >
    {{ color.colorName }}
  </li>
</ul> -->

<div class="collapse show" id="color-collapse">
  <div class="card-header" ><label for="colorFilter" class="form-label" >Renk Ara</label>
    <input
      type="text"
      class="form-control"
      id="colorFilter"
      placeholder="Arama ifadesi giriniz.."
      [(ngModel)]="colorFilter"
     
    />
  </div>
  <ul class="list-group" >
    <li *ngFor="let color of colors | colorPipe:colorFilter"> <a routerLink = "/cars/color/{{color.colorId}}" class="list-group-item">{{color.colorName}}</a></li>
  </ul>
</div>


