<div class="row">
    <div class="col-md-2">
        <app-main></app-main>
    </div>
<div class="col-md-10">
    <div class="card">
      <div class="card-header"><button type="button"  routerLink="/brands/add"  style="float:right;color: rgb(138,43,226)" class="btn btn-outline-dark">Marka ekle</button></div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Marka Adı</th>
              <th scope="col">Güncelle</th>
              <th scope="col">Sil</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let brand of brands">
              
              <td>{{brand.brandName}}</td>
              <td>
                <button type="button"  (click)="getBrandforUpdate(brand)"  class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#exampleModal" >
                  Güncelle
                </button>
              </td>
              <td>
                <button type="button" (click)="removeBrand(brand)"  class="btn btn-danger">
                  Sil
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

      <!-- Modal For Brand -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-header"><h5 class="title" >Marka Güncelle</h5></div>
                  <div class="card-body">
                    <form [formGroup]="brandUpdateForm" >
                        <div class="form-group">
                          <label for="brandName" class="col-sm-2 col-form-label col-form-label-sm">Marka Adı</label>
                          <input type="hidden" formControlName="brandId"/>
                         <input type="text"
                          id="brandName" 
                         formControlName="brandName"
                         class="form-control"
                         placeholder="Marka Adı"/>
                        </div>
                        <br>
                        <button style="float:right" type="button" (click)="updateBrand()" class="btn btn-outline-dark">Marka Güncelle </button>
                    </form>
                  </div>
                  </div>
                </div>
              </div>
            </div>
       
          </div>
        </div>
