<div>
<div class="card mb-3 white-bg" style="max-width: 18rem;" >
  <div class="card-header"><label for="colorFilter" class="form-label">Model Ara</label>
    <input
     type="text"
     class="form-control"
     id="brandFilter"
     placeholder="Arama ifadesi giriniz.."
     [(ngModel)]="brandFilter"
    />
  </div>
<ul class="list-group" >
      <li *ngFor="let brand of brands | brandPipe:brandFilter"> 
        <a routerLink="/cars/brand/{{brand.brandId}}" class="list-group-item list-group-item-action">{{brand.brandName}}</a>
      </li>
  </ul>
</div>
</div>
