

<!--Table  routerLink = "/cars/brand/{{brand.brandId}}" -->

<!-- <ul class="list-group">
  <li
    (click)="setCurrentBrand(brand)"
    routerLink = "/cars/brand/{{brand.brandId}}"
    *ngFor="let brand of brands"
    [class]="getCurrentBrandClass(brand)"
  >
    {{ brand.brandName }}
  </li>
</ul> -->
<div>
<div class="collapse show" id="brand-collapse">
  <div class="card-header"><label for="colorFilter" class="form-label">Model Ara</label>
    <input
     type="text"
     class="form-control"
     id="brandFilter"
     placeholder="Arama ifadesi giriniz.."
     [(ngModel)]="brandFilter"
    />
  </div>
<ul class="list-group" >
      <li *ngFor="let brand of brands | brandPipe:brandFilter"> <a routerLink="/cars/brand/{{brand.brandId}}" class="list-group-item">{{brand.brandName}}</a></li>
  </ul>
</div>
</div>
