<div class="row">
  <div class="col-md-2">
    <!--Update User-->
    <div class="row">
      <button type="button"  class="btn btn-warning"  (click)="userToUpdate();">
        Kullanıcı Güncelle
      </button>
    </div>

    <!--Update Password-->
    <div class="row">
      <button type="button"  class="btn btn-warning"  (click)="passwordToChange()">
        Şifre Güncelle
      </button>  </div>

    <!--Add Card-->
    <div class="row">
      <button type="button"  class="btn btn-warning"  (click)="cardToAdd()">
        Kart Ekle
      </button>  
    </div>  

    <!--List Rental-->
    <div class="row">
      <button type="button"  class="btn btn-warning"  (click)="rentalToList()">
        Kiralamalar
      </button>  
    </div>  
  </div>

  <div class="col-md-1"></div>

  <div class="col-md-8" style="color:white ;">

    <div *ngIf="userUpdate">
      <app-update-user></app-update-user>
    </div>

    <div *ngIf="passwordChange">
      <app-update-password></app-update-password>
    </div>

    <div *ngIf="cardAdd"> 
      <app-card-add></app-card-add> 
    </div>

    <div *ngIf="rentalList">
      <app-user-rental-list></app-user-rental-list>
    </div>
  </div>
</div>

<!-- Add Card Modal -->
<div class="modal fade" id="cardAddModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header"><h5 class="title">Kart Ekle</h5></div>
            <div class="card-body">
              <form [formGroup]="cardAddForm">

                <div class="mb-3">
                  <h6 for="ownerName" class="form-label">Kartın üzerindeki isim</h6>
                  <input type="text" class="form-control" id="ownerName" placeholder="Name" formControlName="ownerName" />
                </div>
                <div class="mb-3">
                  <h6 for="creditCardNumber" class="form-label">Kart Numarası</h6>     
                  <input id="creditCardNumber" type="tel" formControlName="creditCardNumber" class="form-control"
                    maxlength="16" placeholder="xxxx-xxxx-xxxx-xxxx">
                </div>
                <div class="row">
                <div class="col-md-6">
                  <h6 for="expirationDate" class="form-label">Son Kullanma Tarihi</h6>
                  <input type="text" formControlName="expirationDate" class="form-control" id="expirationDate" maxlength="4" placeholder="__/__" >
                </div>
                <div class="col-md-6">
                  <h6 for="securityCode" class="form-label">Güvenlik Kodu</h6>
                  <input type="text" class="form-control" formControlName="securityCode" id="securityCode" maxlength="3" placeholder="___">
                </div>
              </div>
          
              </form><br>
              <div class="col-md-6">
                <button type="button" (click)="addCard()" class="btn btn-outline-info">
                  Kart Ekle
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>