<!-- Spinner -->
<div
  *ngIf="dataLoaded == false"
  class="spinner-border text-secondary"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
<!--Table-->
<table *ngIf="dataLoaded == true" class="table">
  <thead>
    <tr>
      <th>Id</th>
      <th>Model</th>
      <th>Renk</th>
      <th>Araba adı</th>
      <th>Açıklama</th>
      <th>Model Yılı</th>
      <th>Günlük Fiyatı</th>
    </tr>
  </thead>
  <tr *ngFor="let car of cars">
    <td>{{ car.id}}</td>
    <td>{{ car.brandName }}</td>
    <td>{{ car.colorName }}</td>
    <td>{{ car.carName }}</td>
    <td>{{ car.description }}</td>
    <td>{{ car.modelYear }}</td>
    <td>{{ car.dailyPrice }}</td>

  </tr>
</table>