<div class="col-md-6">
    <form [formGroup]="updatePasswordForm">
      <div class="mb-3">
        <label for="eMail" class="form-label">Email Adresi</label>
        <input type="eMail" class="form-control" id="eMail" placeholder="example@example.com" formControlName="email" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label"> Eski Şifre</label>
        <input type="password" class="form-control" id="oldPassword" placeholder="*****" formControlName="oldPassword" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label"> Şifre</label>
        <input type="password" class="form-control" id="newPassword" placeholder="*****" formControlName="newPassword" />
      </div>   
    </form>
    <div class="col-md-6">
      <button type="button" (click)="updatePassword()" class="btn btn-outline-info redButton">
        Şifre Güncelle
      </button>
    </div>
</div>